#Call {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 1;
}
#Call span {
  position: relative;
  top: 2px;
}
#Email {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 1;
}
#Email span {
  position: relative;
  top: 4px;
}

.navbar-dark {
    background-color: #512DA8; 
}

.jumbotron {
  margin: 0px auto;
  padding: 120px 30px 50px;
  background: #9575CD;
  color: floralwhite; 
}
.jumbotron-header {
  background: url("../images/welcome2_new.jpg") no-repeat;
  background-size: cover;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px; 
}

section {
  background: #9575CD;
  color: floralwhite;
}

#WhyUs {
  /*color: green;*/
  width: auto;
}
#WhyUsPhoto {
  min-width: 80%;
  margin: 0px auto;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}
#myCarousel a {
  text-decoration: none;
}

.footer {
  background-color: #D1C4E9;
}

.footer li {
  display: inline;
}

#Address {
  padding-left: 20%;
}
#FooterName {
  width: auto;
  margin: 0px auto;
}
#Partha {
  margin-top: 15px;
}


@media (max-width: 575px) {
  #Navbar li {
    /*text-align: center;*/
    padding-left: 15px;
    border-bottom: 1px ridge white;
  }

  #Address {
    padding: 0px auto 30px;
  }

  .jumbotron-header {
    background: url("../images/welcome2.jpg") no-repeat;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar .container {
    min-width: 560px;
    padding: 0px;
    position: relative;
  }
  #Navbar ul {
    position: absolute;
    right: 0px;
  }
  #Navbar li {
    font-size: 0.80rem;
  }
  .jumbotron-header {
    background: url("../images/welcome2.jpg") no-repeat;
    background-size: cover;
  }
}