.navbar-dark {
    background-color: #512DA8; 
}

.navbar {
  border-bottom: 1px ridge white;
}

.jumbotron {
  margin: 0px auto;
  padding: 120px 30px 70px;
  background: #9575CD;
  color: floralwhite; 
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px; 
}


@media (max-width: 575px) {
  #Navbar li {
    /*text-align: center;*/
    padding-left: 15px;
    border-bottom: 1px ridge white;
  }

  #Navbar li a .fa-info {
    margin-right:7px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar .container {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
}