#Call {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 1;
}
#Call span {
  position: relative;
  top: 2px;
}
#Email {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 1;
}
#Email span {
  position: relative;
  top: 4px;
}

.navbar-dark {
    background-color: #512DA8; 
}

.jumbotron {
  margin: 0px auto;
  padding: 120px 30px 50px;
  background: #9575CD;
  color: floralwhite; 
}
.jumbotron-header {
  background: url("../images/welcome2_new.jpg") no-repeat;
  background-size: cover;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px; 
}

#Heading {
  margin-top: 15px;
}

section {
  background: #9575CD;
  color: floralwhite;
  padding: 15px 0px;
  margin: 15px 0px;
}

#WhyUs li {
  padding: 5px;
}
#WhyUsPhoto {
  min-width: 80%;
  margin: 10px auto 20px;
}
.details {
  margin-bottom: 20px;
}

#myCarousel {
  z-index: 1;
  margin-top: 10px;
}
.carousel-item h5 {
  margin-top: 10px;
  font-size: 2em;
}
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}
#myCarousel a {
  text-decoration: none;
}

.bg-image {
  /* The image used */
  /*background-image: url("../images/background.jpg");

  /* Add the blur effect */
  /*filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  /*height: 100%;

  /* Center and scale the image nicely */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

/* Position text in the middle of the page/image */
.bg-text {
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  /*color: white;*/
  /*font-weight: bold;
  border: 3px solid #f1f1f1;*/
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;*/
  /*width: 80%;
  padding: 20px;*/
  /*text-align: center;*/
}
.container-last {
  position: relative;
  margin-bottom: 20px;
}
.container-last img {
  position: absolute;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.row-last {
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 5px gray;
}

.footer {
  background-color: #D1C4E9;
  margin-top: 15px;
}
.footer li {
  display: inline;
}

#Address {
  padding-left: 20%;
}
#FooterName {
  width: auto;
  margin: 0px auto;
}
#Partha {
  margin-top: 15px;
}


@media (max-width: 575px) {
  #Navbar li {
    /*text-align: center;*/
    padding-left: 15px;
    border-bottom: 1px ridge white;
  }

  .container-last {
    width: 80%;
  }

  #Address {
    padding: 0px auto 30px;
  }

  .jumbotron-header {
    background: url("../images/welcome2.jpg") no-repeat;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar .container {
    min-width: 560px;
    padding: 0px;
    position: relative;
  }
  #Navbar ul {
    position: absolute;
    right: 0px;
  }
  #Navbar li {
    font-size: 0.90rem;
  }
  .jumbotron-header {
    background: url("../images/welcome2.jpg") no-repeat;
    background-size: cover;
  }
}